body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    
}

.article {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}
.header{
    text-align: center;
}
h5 {
    text-align: center;
    
    color: red;
    
}
h2, h1 {
    color: black;
}